<div class="row" >

<div class="row">
  <div class="col-md col-md-12">
    <a id="regresa" ><img src="assets/img/regresa.png" (click)="regresaHome()" alt="" title="Regresa a resultados generales" style="margin-left: 8%;"></a>
    <div class="row" style="text-align: center;">
      <div  id="totalGlobal">
        <p>ÍNDICE DE</p>
        <p id="nameInd"></p>
      </div>
    </div>
    <div class="row" style="text-align:center;margin-bottom: 6em;">
      <img class="grayCircle" src="assets/img/gray_circle.svg" alt="">
      <p id="pgeneral" style="color:#767676;margin-top: -3.1em;">NA</p>
    </div>
    <div class="row">
      <p id="encuestas" style="margin-left: 3em;"></p>
    </div>
  </div>

</div>

<div class="row">
<div class="col-md col-md-4" style="text-align: center;">
  <div [className] = "classe" style="text-align: center;color: #FBC100;">
    <p>Físico</p>
    <p id="promedioTotal">0</p>
  </div>
  <img class="yellowCir" src="assets/img/yellow_circle.svg" alt="">
  <div class="divYellow">
        <canvas id="myChartYellow" [className]="amarillo" width="300" height="300"></canvas>
  </div>
</div>
<div class="col-md col-md-4" style="text-align: center;">
  <div [className] = "classe" style="color:#31AEF2;text-align:center;">
    <p>Cognitivo</p>
    <p id="promedioTotalAzul">0</p>
  </div>
  <img class="blueCir" src="assets/img/blue_circle.svg" alt="">
  <div class="divBlue" >
        <canvas id="myChart" [className]="azul" width="300" height="300"></canvas>
  </div>
</div>
<div class="col-md col-md-4" style="text-align: center;">
  <div [className] = "classe" style="color:#98CE3D;text-align:center;">
    <p>Emocional</p>
    <p id="promedioTotalVerde"></p>
  </div>
  <img class="greenCir" src="assets/img/green_circle.svg" alt="">
  <div  class="divGreen">
        <canvas id="myChartGreen" [className]="verde" width="300" height="300"></canvas>
  </div>
</div>
</div>
</div>
