<div class="row" style="margin-top: 3.5em;" >
<div class="row">
  <div class="col-md col-md-12">
    <div class="row" style="text-align: center;">
      <div  id="totalGlobal">
        <p>ÍNDICE DE</p>
        <p id="nameInd2"></p>
      </div>
    </div>
    <div class="row" style="text-align:center;margin-bottom: 6em;">
      <img class="grayCircle" src="assets/img/gray_circle.svg" alt="">
      <p id="pgeneral2" style="color:#767676;margin-top: -3.1em;">NA</p>
    </div>
    <div class="row">
      <p id="encuestas2" style="margin-left: 3em;"></p>
    </div>
  </div>

</div>
<div class="row">
<div class="col-md col-md-4" style="text-align: center;">
  <div [className] = "classe2" style="color: #FBC100;">
    <p>Físico</p>
    <p id="promedioTotal2">0</p>
  </div>
  <img class="yellowCir" src="assets/img/yellow_circle.svg" alt="">
  <div hidden class="divYellow">
        <canvas id="myChartYellow" width="300" height="300"></canvas>
  </div>
</div>
<div class="col-md col-md-4" style="text-align: center;">
  <div [className] = "classe2" style="color:#31AEF2;">
    <p>Cognitivo</p>
    <p id="promedioTotalAzul2">0</p>
  </div>
  <img class="blueCir" src="assets/img/blue_circle.svg" alt="">
  <div hidden class="divBlue" >

        <canvas id="myChart" width="300" height="300"></canvas>
  </div>
</div>
<div class="col-md col-md-4" style="text-align: center;">
  <div [className] = "classe2" style="color:#98CE3D">
    <p>Emocional</p>
    <p id="promedioTotalVerde2"></p>
  </div>
  <img class="greenCir" src="assets/img/green_circle.svg" alt="">
  <div hidden class="divGreen">
        <canvas id="myChartGreen" width="300" height="300"></canvas>
  </div>
</div>
</div>
</div>
