
<div class="contenido">
  <div class="row">

      <div class="col-md col-md-2" style="display: grid;">

            <label *ngIf="filtros" for="">Resultados por:</label>
            <div hidden class="" id="showInd" style="text-align: center;">
                <label for="inName">Industria:</label>
                <input  type="text" id="industriaName" name="inName" value="" class="filtros" >
            </div>
            <div hidden class="" id="showClient" style="text-align: center;">
                <label for="clName">Cliente:</label>
                <input  type="text" id="clienteName" name="clName" value="" class="filtros" >
            </div>
            <div hidden class="" id="showArea" style="text-align: center;">
                <label for="arName">Área:</label>
                <input type="text" id = "areaName" name="arName" value="" class="filtros">
            </div>
            <div hidden class="" id="showAntig" style="text-align: center;">
                <label for="anName">Antigüedad:</label>
                <input type="text" id = "antigName" name="anName" value="" class="filtros">
            </div>
            <div hidden class="" id="showGen" style="text-align: center;">
                <label for="geName">Generación:</label>
                <input type="text" id = "genName" name="geName" value="" class="filtros">
            </div>


            <input Hidden type="text" id = "genName" name="" value="" class="filtros">
            <div hidden id="btnReporte" class="btn66" >
                <p style="width: 100%;" (click)="sigPaso()">REPORTE</p>
                <div class="dropdown-content">
                </div>
            </div>


    <img  *ngIf="!filtros" src="assets/img/scLogo.jpg" style="width: 11em;margin-top: 23em;margin-left: .5em;"  />




      </div>
      <div class="col-md col-md-9">

        <div class="row" style="display: flex">
          <div class="col-md col-md-6" style="justify-content: center;">
  <a id="regresa" *ngIf="filtros" (click)="goBack()"><img src="assets/img/regresa.png" alt="" title="Regresa a resultados por industria" style="margin-left: 8%;"></a>
  <div class="row">
    <div  id="totalGlobal" style="text-align: center;font-size: 1.5em;">
      <p>ÍNDICE DE</p>
      <p>BIENESTAR GLOBAL</p>
    </div>
  </div>

  <div class="row" style="height: 62%;">
    <div class="" id="generales" style="width: 83%;height: 100%;">
        <img class="grayCircle" style="" src="assets/img/gray_circle.svg" alt="">
        <p id="pgeneral" style="color:#767676"></p>
  </div>
  </div>
      <div class="row">
        <div class="" style="padding-top: 0em;">
          <div class="">
             <p id="encuestas"></p>
             <p hidden id="numEmpleados"></p>
             <p hidden id="linkAc"></p>
           </div>
        </div>
      </div>
          </div>

          <div class="col-md col-md-4" style="float: right;display: grid;width: 50%;margin-top: 3%;">
            <div id="amarillo" class="row" style="margin-top: -8%;">
              <div class="content">
                <div class="col-md col-md-6">
                      <img class="yellowCir" src="assets/img/yellow_circle.svg" alt="">
                      <div class="divYellow">
                            <canvas id="myChartYellow" width="300" height="300"></canvas>
                      </div>
                </div>

                <div class="col-md col-md-6">
                    <div class="totales" style="color: #FBC100;">
                      <p>Físico</p>
                      <p id="promedioTotal" style="margin-top: -15%;">0</p>
                    </div>
                </div>

              </div>

            </div>


            <div class="row azul">
        <div class="content">
          <div class="col-md col-md-6" id="blue">
            <img class="blueCir" src="assets/img/blue_circle.svg" alt="">
            <div class="divBlue" >

                  <canvas id="myChart" width="300" height="300"></canvas>
            </div>

          </div>

          <div class="col-md col-md-6">
            <div class="totales" style="margin-top: -4%;color:#31AEF2;">
              <p>Cognitivo</p>
              <p id="promedioTotalAzul" style="margin-top: -13%;">0</p>
            </div>

          </div>

        </div>
                    <!--........................................star div end........................................-->




            </div>

            <div class="row verde" style="height: 100%;">

        <div class="content">
          <div class="col-md col-md-6" id ="green">
            <img class="greenCir" src="assets/img/green_circle.svg" alt="">
            <div class="divGreen">
                  <canvas id="myChartGreen" width="300" height="300"></canvas>
            </div>
          </div>
          <div class="col-md col-md-6">
            <div class="totales" style="color:#98CE3D">
              <p>Emocional</p>
              <p id="promedioTotalVerde" style="margin-top: -12%"></p>
            </div>

          </div>

        </div>
            </div>

          </div>
        </div>
      </div>





  </div>
</div>
