<div class="container">
  <div class="row">
    <a id="regresa" ><img src="assets/img/regresa.png" (click)="regresaHome()" alt="" title="Regresa a resultados generales" style="margin-left: 7%;margin-bottom: -8%;"></a>
    <p id="pgeneral">3.4</p>
  </div>
  <div class="row fila">
    <div class="fila_uno" style="position:relative;">
        <img src="assets/img/yellow_circle.svg" alt="" style="width:9em">
        <div class="totales">
          <p id="total1"></p>
        </div>
    </div>
    <div class="fila_uno" style="position:relative;">
      <img src="assets/img/blue_circle.svg" alt="" style="width:9em">
      <div class="totales">
        <p id="total2"></p>
      </div>
    </div>
    <div class="fila_uno" style="position:relative;">
      <img src="assets/img/green_circle.svg" alt="" style="width:9em">
      <div class="totales">
        <p id="total3"></p>
      </div>
    </div>
  </div>

  <div class="generaciones">
    <div class="row">
      <h3>Antigüedad</h3>
    </div>
    <div class="row" style="display:flex">
      <div class="filas">
        <p id="tit1"></p>
      </div>
      <div class="filas">
        <p id="tit2"></p>
      </div>
      <div class="filas">
        <p id="tit3"></p>
      </div>
      <div class="filas">
        <p id="tit4"></p>
      </div>
    </div>

    <div class="row promedios" style="display:flex">
      <div class="filas">
        <p id="t1">promedio</p>
      </div>
      <div class="filas">
        <p id="t2">promedio</p>
      </div>
      <div class="filas">
        <p id="t3">promedio</p>
      </div>
      <div class="filas">
        <p id="t4">promedio</p>
      </div>
    </div>

    <div class="row" style="display:flex">
      <div class="columnas">
        <div class="row" style="display:flex">
          <div class="">
          <p class="amarillo letras">F</p>
          </div>
          <div class="" style="margin-left: 27%; position:relative;">
            <img src="assets/img/yellow_circle.svg" alt="" style="width:9em">
            <div class="prom-c1">
              <p class="amarillo" id="pAm1"></p>
            </div>
          </div>

        </div>

        <div class="row" style="display:flex">
          <div class="">
          <p class="azul letras">C</p>
          </div>
          <div class="" style="margin-left: 27%; position:relative;">
            <img src="assets/img/blue_circle.svg" alt="" style="width:9em">
            <div class="prom-c1">
              <p class="azul" id="pAz1"></p>
            </div>
          </div>
        </div>

      <div class="row" style="display:flex">
        <div class="">
        <p class="verde letras">E</p>
        </div>
        <div class="" style="margin-left: 27%; position:relative;">
          <img src="assets/img/green_circle.svg" alt="" style="width:9em">
          <div class="prom-c1">
            <p class="verde" id="pv1"></p>
          </div>
        </div>
      </div>
      </div>

      <div class="columnas">
        <div class="row">
          <div class="">
            <img src="assets/img/yellow_circle.svg" alt="" style="width:9em;position:relative;">
            <div class="prom-c2">
              <p class="amarillo" id="pAm2"></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="">
            <img src="assets/img/blue_circle.svg" alt="" style="width:9em;position:relative;">
            <div class="prom-c2">
              <p class="azul" id="pAz2"></p>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="">
          <img src="assets/img/green_circle.svg" alt="" style="width:9em;position:relative;">
          <div class="prom-c2">
            <p class="verde" id="pv2"></p>
          </div>
        </div>
      </div>
    </div><!-- Termina segunda columna-->

      <div class="columnas"><!-- Inicia tercera columna-->
        <div class="row">
          <div class="" style="position:relative">
            <img src="assets/img/yellow_circle.svg" alt="" style="width:9em">
            <div class="prom-c2">
              <p class="amarillo" id="pAm3"></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class=""style="position:relative">
            <img src="assets/img/blue_circle.svg" alt="" style="width:9em">
            <div class="prom-c2">
              <p class="azul" id="pAz3"></p>
            </div>
          </div>
        </div>

      <div class="row">
        <div class=""style="position:relative">
          <img src="assets/img/green_circle.svg" alt="" style="width:9em">
          <div class="prom-c2">
            <p class="verde" id="pv3"></p>
          </div>
        </div>
      </div>
      </div>

      <div class="columnas">
        <div class="row">
          <div class="" style="position:realtive;">
            <img src="assets/img/yellow_circle.svg" alt="" style="width:9em;">
            <div class="prom-c2">
              <p class="amarillo" id="pAm4"></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="" style="position:realtive;">
            <img src="assets/img/blue_circle.svg" alt="" style="width:9em">
            <div class="prom-c2">
              <p class="azul" id="pAz4"></p>
            </div>
          </div>
        </div>

      <div class="row">
        <div class=""style="position:realtive;" >
          <img src="assets/img/green_circle.svg" alt="" style="width:9em">
          <div class="prom-c2">
            <p class="verde" id="pv4"></p>
          </div>
        </div>
      </div>
      </div>


    </div>
    </div>
  </div>

  <div class="modal" id="modalAlert">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body" style="text-align:center">
          <p>La información esta siendo procesada, espere un momento por favor</p>
        </div>
      </div>
    </div>
  </div>
