<div class="content" style="display: flex;">
  <div class="ora" style="width: 45%;padding-left: 8%;">


    <div class="row">
      <h2><b>Wellbeing Research</b></h2>
    </div>



    <div class="row" style="margin-bottom: -10%;">
      <p> GRACIAS POR TOMARTE EL TIEMPO DE RESPONDER ESTA BREVE ENCUESTA, LA CUAL ESTÁ DISEÑADA PARA OBTENER UN MAYOR ENTENDIMIENTO A CERCA DEL BIENESTAR EN TU ORGANIZACIÓN.</p>
      <p>ESTA ES TU OPORTUNIDAD PARA AYUDARNOS A DESARROLLAR UNA ESTRATEGIA INTEGRAL QUE CUBRA LOS 3 ASPECTOS DEL BIENESTAR.</p><br>
    </div>

    <div class="row" style="margin-top: 14%;">
      <!--	<a  style="margin-bottom:5%;color: #FFFFFF;width: 85%;height: 27px;float: right;line-height: 1.8em;text-decoration: none;font-weight: 700;
				" >
						<div class="btn66" >
								<p style="width: 100%;" id="industriaP" onclick="mostrarIndustrias();">INDUSTRIA</p>
								<div id="triangle_right" style="margin: -5% 4% 0 0;"onclick="mostrarIndustrias();" ></div>
								<div class="dropdown-content" id="industriaD" >
									<ul  style="list-style:none" id="industriasWell">

									</ul>

								</div>
						</div>
				</a>-->

      <a style="margin-bottom:5%;color: #FFFFFF;width: 85%;height: 27px;float: right;line-height: 1.8em;text-decoration: none;font-weight: 700;
				            ">
        <div class="btn66">
          <p style="width: 100%;" id="areaP" onclick="mostrarAreas();">ÁREA</p>
          <div id="triangle_right" style="margin: -5% 4% 0 0;" onclick="mostrarAreas();"></div>
          <div class="dropdown-content" id="areaD">
            <ul style="list-style:none" id="areasWell">

            </ul>

          </div>
        </div>
      </a>
      <a style="margin-bottom:5%;color: #FFFFFF;width: 85%;height: 27px;float: right;line-height: 1.8em;text-decoration: none;font-weight: 700;
										">
        <div class="btn66">
          <p style="width: 100%;" id="areaAnt" onclick="mostrarAntiguedad();">ANTIGUEDAD</p>
          <div id="triangle_right" style="margin: -5% 4% 0 0;" onclick="mostrarAntiguedad();"></div>
          <div class="dropdown-content" id="antiguedad">
            <ul id="anios">
              <li style="list-style:none" onclick="addAntiguedad('0-2 años');">0-2 años</li>
              <li style="list-style:none" onclick="addAntiguedad('3-5 años');">3-5 años</li>
              <li style="list-style:none" onclick="addAntiguedad('5-10 años');">6-10 años</li>
              <li style="list-style:none" onclick="addAntiguedad('10+ años');">10+ años</li>
            </ul>



          </div>
        </div>
      </a>
      <a style="margin-bottom:5%;color: #FFFFFF;width: 85%;height: 27px;float: right;line-height: 1.8em;text-decoration: none;font-weight: 700;
				            ">
        <div class="btn66">
          <p style="width: 100%; font-size: 10px; padding-top: 4px;" id="generacionP" onclick="mostrarGeneracion();">GENERACIÓN</p>
          <div id="triangle_right" style="margin: -5% 4% 0 0;" onclick="mostrarGeneracion();"></div>
          <div class="dropdown-content" id="generacionD">
            <ul style="list-style:none" id="generaciones">

            </ul>

          </div>
        </div>
      </a>
      <a onClick="irWeelbeing();" style="margin-bottom:5%;color: #FFFFFF;width: 85%;height: 27px;float: right;line-height: 1.8em;text-decoration: none;font-weight: 700;
				            ">
        <div class="btn67">
          <p style="width: 100%;">COMENZAR</p>
          <img src="assets/img/siguiente.png" alt="" style="margin-left: 87%;margin-bottom: 5px;">
        </div>
      </a>

      <div id="info" style="display:none; ">
        <h3 style="color: #568EC8; float: left;width: 90%; margin-left: 10%; margin-bottom: 1%;">Presencia</h3>
        <p>Lorem ipsumalsdjbklajsbdlk jaksjdbkaj bskjdbkajbskdjbakjsbdkjabs
        </p>
      </div>
    </div>


  </div>

  <div class="ora2" style="width: 66%;padding: 13%;">
    <img src="assets/img/first.png" class="img-responsive" alt="Cinque Terre" width="600" height="600" style="margin-left: -3%;margin-top: -33%;">
  </div>
</div>
